.proofIntro {
  text-align: center;
}
.twoColumn tr td {
  vertical-align: text-top;
  border: none;
}
.twoColumn tr {
  border-top-width: 0px !important;
}
.gitbook-link {
  display: none !important;
}
.axiom {
  display: block;
  margin: 15px 0;
  font-style: italic;
}
.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0.5em 0;
}
.theorem {
  display: block;
  margin: 15px 0;
  font-style: normal; /* make the theorem name and/or number bold and its contents italic in the markdown tho!! */
}
.lemma {
  display: block;
  margin: 15px 0;
  font-style: italic;
}
.lemma:before {
  content: "Lemma.";
  font-weight: bold;
  font-style: normal;
}
.proposition {
  display: block;
  margin: 15px 0;
  font-style: italic;
}
.proposition:before {
  content: "Proposition.";
  font-weight: bold;
  font-style: normal;
}
.proof {
  display: block;
  margin: 15px 0;
  font-style: normal;
}
.proof:before {
  content: "Proof.";
  font-style: italic;
}
.proof:after {
  content: "\25FC";
  float:right;
}
.partProof {
  display: block;
  margin: 15px 0;
  font-style: normal;
}
.partProof:after {
  content: "\25FC";
  float:right;
}
.definition {
  display: block;
  margin: 15px 0;
  font-style: normal;
}
.definition:before {
  content: "Definition.";
  font-weight: bold;
  font-style: normal;
}
